@charset "UTF-8";

body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(300, 300, 300), rgb(300, 300, 300));
}

a{

}

h2 {
	
}

h3 {
	position: relative;
	padding: 0.5em;
	background: #ffd400;
	color: white;
}

h3::before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 15px transparent;
	border-right: solid 20px rgb(149, 158, 155);
}

form {
	position: relative;
	padding: 0 .5em .5em 2em;
	border-bottom: 1px solid #ccc;
}

form::before, form::after {
	position: absolute;
	content: '';
	border-radius: 100%
}

form::before {
	top: .2em;
	left: .2em;
	z-index: 2;
	width: 18px;
	height: 18px;
	background: rgba(150, 150, 150, .5);
}

form::after {
	top: .7em;
	left: .7em;
	width: 13px;
	height: 13px;
	background: rgba(210, 210, 210, .5);
}

input {
	width: 180px;
	padding: 15px;
	color: #ffffff;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #f54d3c;
	display: block;
	position: relative;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

input::before {
	content: '';
	width: 16px;
	height: 16px;
	margin: -8px 0 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	position: relative;
	position: absolute;
	top: 50%;
	left: 20px;
	display: block;
}

input::after {
	content: '';
	width: 4px;
	height: 4px;
	border: 0px;
	margin: -3px 0 0 0;
	border-top: solid 2px #FF9C15;
	border-right: solid 2px #FF9C15;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 24px;
	display: block;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	:
	hover
	{
	background
	:
	#FFAF42;
}

input::after {
	border-top: solid 2px #FFAF42;
	border-right: solid 2px #FFAF42;
}
