<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>目標変更画面</title>
</head>

<body>
<h1>編集</h1>
	<form action="/editGoal" method="post">
		<table border="1">
			<tr>
				<td>目標</td>
				<td>期間（開始）</td>
				<td>期間（終了）</td>
				<td>完成度</td>
			</tr>

			<tr>
				<td><input type="text" name=goal th:value="${goalList.goal}"></td>
				<td><input type="text" name=start  th:value="${goalList.start}"></td>
				<td><input type="text" name=finish th:value="${goalList.finish}"></td>
				<td>
					<select name=level>
					<option th:each="ns:${#numbers.sequence(0,100,25)}"
				            th:value="${ns+'%'}"
				            th:text="${ns +'%'}"
				            th:selected="${ns +'%'==goalList.level}" >
					</select>
				</td>
		</table>
		<input type="submit" value="この内容に変更">
	</form>
</body>

</html>