<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧表示画面</title>
</head>
<body>

	<section>
		<h2>
			<span th:text="${session.name}"></span>さんのルーチン＆タスクリスト
		</h2>
	</section>

	<h3 th:text="'目標名：' + ${session.goal}"></h3>

	<hr>

	<section>
		<h1>ルーチン一覧</h1>
		<ul>
			<li th:each="rl:${routineList}" th:text="${rl.routine}"></li>
		</ul>
	</section>

	<hr>

	<section>
		<h1>タスク一覧</h1>
		<form action="/task" method="post">
			<table border=1>
				<tr>
					<td>タスク</td>
					<td>期間（開始）</td>
					<td>期間（終了）</td>
					<td>実行項目達成度</td>
					<td>　　</td>
					<td>　　</td>
				</tr>
				<tr th:each="tl:${taskList}">
					<td th:text="${tl.task}"></td>
					<td th:text="${tl.start}"></td>
					<td th:text="${tl.finish}"></td>
					<td th:text="${tl.level}"></td>
					<td>


						<button type="submit" name="edit" th:value="${tl.code}">編集</button>
					</td>
					<td>
						<button th:if="${tl.level=='100%'}" type="submit" name="rankup"
							th:value="${tl.code}">昇華</button>
				</tr>
			</table>

			<input type="submit" name="add" value="タスクを追加する">
		</form>
	</section>

	<br>

	<a href="/backlogin">目標一覧に戻る</a>

	<hr>

	<a href="/">ログアウト</a>

</body>
</html>